---
// create variables for age and years of experience
const date = new Date();
const age = date.getFullYear() - 2004;
const experience = date.getFullYear() - 2022;
---
<section class="flex flex-col gap-6 justify-center items-center max-w-2xl mx-auto">
  <div
    class="[&>p]:mb-4 [&_*strong]:text-yellow-400 [&_*strong]:font-semibold text-pretty"
  >
    <p>
      Soy Eliseo Francisco Arévalo, desarrollador de software de <strong>{ age } años</strong> con
      cerca de <strong>{ experience } años de experiencia</strong> construyendo aplicaciones web.
    </p>

    <p>Al trabajar en proyectos, tengo algunas prioridades claras:</p>
    <ul class="list-disc pl-5 space-y-1 text-sm md:text-base">
      <li><strong>Hazlo simple o no lo hagas.</strong></li>
      <li><strong>Borra sin miedo el código inútil.</strong></li>
      <li><strong>Si necesita muchos comentarios, reházlo.</strong></li>
    </ul>
  </div>
</section>
