---
import ExperienceItem from "./ExperienceItem.astro"
import CompanyTimeline from "./CompanyTimeline.astro"

const EXPERIENCE = [
  {
    company: "Serfinsa",
    logo: "/serfinsa-logo.png", // Assuming you have company logos
    duration: "May 2025 - Present", // Overall company duration
    companyLink: "https://www.redserfinsa.com/", // NUEVO: Link a nivel de empresa
    roles: [
      {
        title: "Senior Developer",
        date: "May 2025 - Present",
        description:
          "Lead dev teams building platforms and system architecture.",
        isPromotion: true,
      },
      {
        title: "Mid-Level Analyst Developer",
        date: "Jan 2024 - May 2025",
        description:
          "Web platform development and project architecture design. Migration of legacy systems to .NET with SQL Server.",
      },
    ],
  },
  {
    company: "Axios Click",
    logo: "/axios-logo.png", // Assuming you have company logos
    duration: "Sep 2022 - Nov 2023",
    companyLink: "https://axios.click/", // NUEVO: Link a nivel de empresa
    roles: [
      {
        title: "Full Stack Developer",
        date: "Sep 2022 - Nov 2023",
        description:
          "Development of new products, design and implementation of key features, and maintenance of existing applications in a Full Stack environment.",
      },
    ],
  },
];

---
<div class="relative ml-0 sm:ml-3">
  {
    EXPERIENCE.map((company) => (
      <div class="mb-10">
        <div class="relative overflow-hidden rounded-2xl shadow-sm">
          <div class="p-6">
            <CompanyTimeline {...company} />
          </div>
        </div>
      </div>
    ))
  }
</div>
