---
import ExperienceItem from "./ExperienceItem.astro"
import CompanyTimeline from "./CompanyTimeline.astro"

const EXPERIENCE = [
  {
    company: "Serfinsa",
    logo: "/serfinsa-logo.png", // Assuming you have company logos
    duration: "may. 2025 - actualidad", // Overall company duration
    companyLink: "https://www.redserfinsa.com/", // NUEVO: Link a nivel de empresa
    roles: [
      {
        title: "Desarrollador Sr",
        date: "may. 2025 - actualidad",
        description:
          "Lidero equipos técnicos en el desarrollo de plataformas y arquitectura de sistemas escalables.",
        isPromotion: true,
      },
      {
        title: "Desarrollador Analista Mid",
        date: "ene. 2024 - may. 2025",
        description:
          "Desarrollo de plataformas web y diseño de arquitectura de proyectos. Migración de sistemas legacy a .NET con SQL Server.",
      },
    ],
  },
  {
    company: "Axios Click",
    logo: "/axios-logo.png", // Assuming you have company logos
    duration: "sept. 2022 - nov. 2023",
    companyLink: "https://axios.click/", // NUEVO: Link a nivel de empresa
    roles: [
      {
        title: "Full Stack Developer",
        date: "sept. 2022 - nov. 2023",
        description:
          "Desarrollo de nuevos productos, diseño e implementación de funcionalidades clave y mantenimiento de aplicaciones existentes en un entorno Full Stack.",
      },
    ],
  },
];

---
<div class="relative ml-0 sm:ml-3">
  {
    EXPERIENCE.map((company) => (
      <div class="mb-10">
        <div class="relative overflow-hidden rounded-2xl shadow-sm">
          <div class="p-6">
            <CompanyTimeline {...company} />
          </div>
        </div>
      </div>
    ))
  }
</div>
